* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #93b7d9;
}

div {
    /* border: black solid 1px; */
    padding: 20px;
    width: 100%;
}

h1 {
    background-color: #3562cc;
    offset: 20px;
    font-size: larger;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.nombre {
    background-color: #93b7d9;
}


.titulito {
    padding: 20px;
    text-align: center;
    background: #93b7d9;
}

.navbar {
    background-color: #3562cc;
    overflow: hidden;
    align-items: center;
    position:unset;
    width: 100%;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    align-self: center;
    width: 25%;
    text-decoration: none;
}

.navbar a:hover {
    background-color: azure;
    color: black;
}

.about {
    background-color: #93b7d9;
}

.me {
    align-self: center;
    align-items: center;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.about h2 {
    font-size: medium;
    text-align: center;
}

.objective {
    margin: auto;
    padding: 20px;
    width: 40%;

}
.hero {
    /* background-color: azure; */
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide1 {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.num {
    color: #020101;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.hero img {
    width: 100%;
    height: 50%;
}

.puntitos {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: beige;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* pilas aqui */
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

* {box-sizing: border-box;}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.skills {
    width: 100%;
}

.skills div {
    width: 1%;
    height: 30px;
    background-color: #1239ff;
}

.exp {
    background-color: #93b7d9;
}

.exp a {
    text-align: center;
}

.proyecto {
    border: white dotted;
}

.proyecto img {
    width: 100%;
}
.proyecto a {
    font-size: larger;
    color: black;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
}

.contactarme {
    text-align: center;
    padding: 20px;
}

.miContacto {
    padding: 20px;
    text-align: center;
}

#skill1 {
    width: 80%;
    background-color: green;
}

#skill1 {
    width: 80%;
    background-color: green;
}
#skill2 {
    width: 60%;
    background-color: orange;
}
#skill3 {
    width: 70%;
    background-color: green;
}
#skill4 {
    width: 50%;
    background-color: orange;
}
#skill5 {
    width: 30%;
    background-color: red;
}
#skill6 {
    width: 40%;
    background-color: orange;
}
#skill7 {
    width: 30%;
    background-color: red;
}
#skill8 {
    width: 30%;
    background-color: red;
}
#skill9 {
    width: 70%;
    background-color: green;
}

#skill10 {
    width: 70%;
    background-color: green;
}