.titulito {
    padding: 20px;
    text-align: center;
    background: teal;
}

.navbar {
    background-color: #2755a1;
    overflow: hidden;
    /* align-self: center; BUSCAR COMO ALINEARLO */
}

.navbar a {
    float: left;
    color: grey;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}

.navbar a:hover {
    background-color: azure;
    color: black;
}

.navbar a.active {
    background-color: goldenrod;
    color: wheat;
}

<<<<<<< HEAD
.about {
    background-color: #2755a1;
}

.about div {
    border: 1px solid black;
}



.me {
    align-self: center;
    align-items: center;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.about h1 {
    font-size: larger;
    text-align: center;
    padding: 20px;
}
.about h2 {
    font-size: medium;
    text-align: center;
}

.objective {
    margin: auto;
    padding: 20px;
    width: 40%;

}
.hero {
    /* background-color: azure; */
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide1 {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.num {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.hero img {
    width: 100%;
    height: 50%;
}

.puntitos {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* pilas aqui */
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

* {box-sizing: border-box;}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.skills {
    background-color: bisque;
    border: black solid 1px;
}

.skills div {
    border: black solid 1px;
}
=======
.exp {
    background-color: aquamarine;
    border: solid black 1px;
}

.exp .titulo {

    text-align: center;
}

.exp .proyecto {
    border: solid black 1px;
}

.exp .proyecto a {
    font-size: larger;
    color: black;
    align-self: center;
}
>>>>>>> experience
